<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958437282029-lf7ai83j712tb77rub47kod3p1f4vc5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958437282029-lf7ai83j712tb77rub47kod3p1f4vc5u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>958437282029-6l21hgeip7ui0kdlre99nvdti3b2193d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAugup42gjrlP7LKpdpMFy3Sj_eU9OR-kw</string>
	<key>GCM_SENDER_ID</key>
	<string>958437282029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoggig.users</string>
	<key>PROJECT_ID</key>
	<string>yogigg-9</string>
	<key>STORAGE_BUCKET</key>
	<string>yogigg-9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958437282029:ios:38302a23999e777d127ce4</string>
	<key>DATABASE_URL</key>
	<string>https://yogigg-9.firebaseio.com</string>
</dict>
</plist>